/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  ========================================
 * Variables
 * ========================================  */
/*  ========================================
 * Responsive
 * ========================================  */
/*  ========================================
 * Custom styles
 * ========================================  */
body {
  background: #fff;
  color: #404040;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*  ========================================
 * Backgrounds
 * ========================================  */
.bg-white {
  background: #fff; }

.bg-grey {
  background: #f5f5f5; }

.bg-img {
  background-size: cover; }

/*  ========================================
 * Overlays
 * ========================================  */
.overlay-low-opacity {
  background-color: rgba(245, 245, 245, 0.7); }

.overlay-med-opacity {
  background-color: rgba(255, 255, 255, 0.86); }

.overlay-high-opacity {
  background: rgba(255, 255, 255, 0.95); }

/*  ========================================
 * Alignments
 * ========================================  */
.center-text {
  text-align: center; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

/*  ========================================
 * Borders  
 * ========================================  */
.border-bottom-grey, .primary-header {
  border-bottom: 1px solid #d8d8d8; }

.border-top-grey, .listing-card {
  border-top: 1px solid #d8d8d8; }

.border-grey, .aquaponics-material-section {
  border: 1px solid #d8d8d8; }

.border-dark-grey {
  border: 1px solid #404040; }

/*  ========================================
 * Lists
 * ========================================  */
a {
  color: #404040; }

.list-square-bullets {
  list-style-type: square;
  padding-left: 2rem; }

/*  ========================================
 * Buttons
 * ========================================  */
.btn-green {
  background: #4caf50;
  color: #e0e0e0;
  padding: 5px;
  text-align: center;
  min-width: 120px; }
  .btn-green:hover {
    cursor: pointer;
    opacity: 0.9; }

.btn-close {
  color: #a0a0a0;
  float: right;
  font-size: 30px; }
  .btn-close:hover {
    cursor: pointer; }

/*  ========================================
 * Tables
 * ========================================  */
table {
  font-size: 12px;
  text-align: center; }
  table th, table td {
    padding: 5px;
    vertical-align: middle; }

.tbl-2-col {
  border: 1px solid #404040; }
  .tbl-2-col th {
    background: #404040;
    color: #e0e0e0; }
  .tbl-2-col tr:not(:last-child) th {
    border-bottom: 1px solid #707070; }
  .tbl-2-col tr:not(:last-child) td {
    border-bottom: 1px solid #404040; }

.tbl-2-hdr thead tr, .tbl-2-hdr tbody tr:not(:last-child) {
  border-bottom: 1px solid #f5f5f5; }
.tbl-2-hdr th, .tbl-2-hdr td {
  height: 75px;
  width: 120px; }
  .tbl-2-hdr th:not(:last-child), .tbl-2-hdr td:not(:last-child) {
    border-right: 1px solid #f5f5f5; }
.tbl-2-hdr th {
  font-weight: 400; }

/*  ========================================
 * Dialogs
 * ========================================  */
.ui-dialog {
  background: #fff;
  min-width: 50%;
  min-height: 50%;
  position: fixed; }

.ui-dialog-titlebar {
  display: none; }

.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5); }

/*  ========================================
 * Typography
 * ========================================  */
h1 {
  font-size: 36px;
  line-height: 44px; }

h2 {
  font-size: 32px; }

h3 {
  color: #909090;
  font-size: 20px; }

h4 {
  font-size: 16px;
  font-weight: 400; }

h5 {
  font-size: 12px; }

strong {
  font-weight: 400; }

/*  ========================================
 * Text
 * ========================================  */
p:not(:last-child) {
  margin-bottom: 1em; }

/*  ========================================
 * Grid
 * ========================================  */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 300px; }
  @media screen and (min-width: 560px) {
    .container {
      width: 560px;
      padding: 30px; } }
  @media screen and (min-width: 960px) {
    .container {
      width: 960px; } }

.row {
  margin: 0 auto;
  width: 300px; }
  @media screen and (min-width: 560px) {
    .row {
      width: 560px; } }
  @media screen and (min-width: 960px) {
    .row {
      width: 960px; } }

/*  ========================================
 * Columns
 * ========================================  */
.col-2-3, .col-1-5, .col-4-5 {
  display: inline-block;
  vertical-align: top; }

.col-1-2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 48%; }

.col-1-3 {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 32%; }

.col-2-3 {
  margin: 0 0.5%;
  width: 66%; }

.col-1-5 {
  margin: 0 0.64%;
  width: 15%; }

.col-4-5 {
  margin: 0 1.5%;
  width: 80%; }

.col-1-4 {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 24%; }

.col-3-4 {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5%;
  width: 74%; }

/*  ========================================
 * Navigation
 * ========================================  */
.nav {
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 960px) {
    .nav {
      float: right;
      text-align: right; } }
  .nav li {
    display: inline-block; }
  .nav a {
    display: block;
    padding: 10px; }
    .nav a:hover {
      color: #4caf50; }
  .nav .active {
    color: #4caf50; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000; }
  .dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
    display: block; }
  .dropdown-content a {
    color: #404040;
    display: block;
    padding: 10px;
    text-align: left;
    text-decoration: none; }
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      color: #4caf50; }

.dropdown:hover .dropbtn {
  color: #4caf50; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*  ========================================
 * Primary header
 * ========================================  */
.primary-header {
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 1em; }

.logo {
  display: block;
  text-align: center;
  margin-bottom: 0.5em; }
  @media screen and (min-width: 560px) {
    .logo {
      margin-bottom: 0; } }
  @media screen and (min-width: 960px) {
    .logo {
      display: inline-block; } }

.tagline {
  display: none; }
  @media screen and (min-width: 560px) {
    .tagline {
      display: block;
      text-align: center; } }
  @media screen and (min-width: 960px) {
    .tagline {
      float: left;
      line-height: 42px;
      margin-left: 1em; } }

/*  ========================================
 * Primary footer 
 * ========================================  */
.primary-footer {
  border-top: 1px solid #d8d8d8;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em; }
  .primary-footer small {
    font-size: 12px; }
  .primary-footer .copyright {
    float: left; }
  .primary-footer .email {
    float: right; }

/*  ========================================
 * Clearfix
 * ========================================  */
.group {
  clear: both;
  *zoom: 1; }
  .group:before, .group:after {
    content: "";
    display: table; }
  .group:after {
    clear: both; }

/*  ========================================
 * Links
 * ========================================  */
a {
  text-decoration: none; }

.link-green {
  color: #4caf50; }
  .link-green:hover {
    color: #006600;
    cursor: pointer; }

/*  ========================================
 * Forms
 * ========================================  */
.listing-row-pricing form input, .ff-listings-hdr form input {
  border: 0;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*  ========================================
 * Homepage
 * ========================================  */
@media screen and (min-width: 960px) {
  .homepage-content {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2); } }

.homepage-img {
  width: 100%; }

.homepage-text {
  margin-top: 1.5rem; }
  .homepage-text:not(:last-child) {
    margin-bottom: 0; }
  @media screen and (min-width: 960px) {
    .homepage-text {
      margin-top: 0;
      padding: 1.5rem 15%; } }

.quote {
  font-style: italic;
  font-size: 0.7rem;
  text-align: center; }
  @media screen and (min-width: 560px) {
    .quote {
      font-size: 1rem; } }

.exposition {
  text-align: left; }
  @media screen and (min-width: 960px) {
    .exposition {
      background: #f5f5f5;
      text-align: center; } }

/*  ========================================
 * About page
 * ========================================  */
.about-img-1,
.about-img-2-container,
.about-map {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 200px; }
  @media screen and (min-width: 560px) {
    .about-img-1,
    .about-img-2-container,
    .about-map {
      width: 75%;
      height: 300px; } }
  @media screen and (min-width: 960px) {
    .about-img-1,
    .about-img-2-container,
    .about-map {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      height: 340px; } }

.about-bio {
  display: flex;
  flex-wrap: wrap; }
  .about-bio section {
    order: 2; }
  .about-bio img {
    order: 1; }
  @media screen and (min-width: 960px) {
    .about-bio {
      display: block; } }

.about-img-2 {
  width: 100%;
  height: 100%; }

.about-text-section {
  margin-top: 1em;
  margin-bottom: 1em; }
  @media screen and (min-width: 960px) {
    .about-text-section {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      margin: 0;
      padding: 1em; } }

.tbl-contact-us {
  font-size: 0.75em;
  margin: 2em auto 0 auto;
  width: 80%; }

/*  ========================================
 * Order landing page
 * ========================================  */
.order-option {
  padding: 5px; }

.order-option-bg-img {
  display: block;
  height: 10em; }

.order-plants {
  background-image: url("../images/order/index/order-plants.jpg"); }

.order-fish {
  background-image: url("../images/order/index/order-fish.jpg"); }

.order-fish-food {
  background-image: url("../images/order/index/order-fish-food.jpg"); }

.order-bulletin {
  background-image: url("../images/order/index/order-bulletin.jpg"); }

.order-option-title {
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
  line-height: 10em; }
  .order-option-bg-img:hover .order-option-title {
    opacity: 0.8; }

/*  ========================================
 * Fish page
 * ========================================  */
.fish-introduction {
  margin-bottom: 2em; }

.fish-introduction-text {
  margin-top: 1em;
  margin-bottom: 1em; }
  @media screen and (min-width: 960px) {
    .fish-introduction-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      margin: 0;
      padding-right: 1em; } }

.freight-options {
  padding: 1em; }
  .freight-options h3 {
    margin-bottom: 0.5em; }
    .freight-options h3:not(:first-child) {
      margin-top: 0.5em; }
  @media screen and (min-width: 960px) {
    .freight-options {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%; } }

.order-fish-btn {
  display: block;
  margin: 0 auto 1em auto;
  width: 50%; }

.listing-card {
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center; }
  .listing-card img {
    height: 100px;
    max-width: 100%; }
  @media screen and (min-width: 560px) {
    .listing-card {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      border: 1px solid #d8d8d8;
      margin-bottom: 1em;
      min-height: 440px;
      padding-left: 0.5em;
      padding-right: 0.5em; } }
  @media screen and (min-width: 960px) {
    .listing-card {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 32%; } }

.latin-name {
  font-style: italic; }

.listing-card-desc {
  text-align: left; }

.tbl-container {
  margin: 1em 0; }
  @media screen and (min-width: 560px) {
    .tbl-container {
      min-height: 75px; } }

.tbl-fish-prices {
  margin: 0 auto; }
  .tbl-fish-prices th, .tbl-fish-prices td {
    vertical-align: text-bottom;
    width: 50%; }
  .tbl-fish-prices th {
    font-size: 24px;
    padding-right: 3px;
    text-align: right; }
  .tbl-fish-prices td {
    font-size: 12px;
    padding-left: 3px;
    text-align: left; }

.availability-update {
  color: red; }

/*  ========================================
 * Fish food page
 * ========================================  */
@media screen and (min-width: 960px) {
  .ff-intro-text {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5%;
    width: 65%;
    margin-top: 1rem;
    padding-right: 1rem; } }

.ff-shipping-text {
  margin-top: 1rem;
  padding: 1rem; }
  .ff-shipping-text li {
    margin-top: 0.5rem; }
  @media screen and (min-width: 960px) {
    .ff-shipping-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 32%;
      margin-top: 0; } }

.ff-listings-hdr {
  background: #f5f5f5;
  margin-top: 1rem;
  padding: 1rem; }
  .ff-listings-hdr span {
    display: block; }
    .ff-listings-hdr span:not(:first-child) {
      margin-top: 1rem; }
    @media screen and (min-width: 960px) {
      .ff-listings-hdr span {
        float: left;
        line-height: 2rem; }
        .ff-listings-hdr span:not(:first-child) {
          margin-top: 0; } }

.ff-filter {
  background: #fff;
  height: 3rem;
  margin-top: 0.5rem;
  width: 100%; }
  @media screen and (min-width: 960px) {
    .ff-filter {
      float: left;
      height: 2rem;
      margin: 0 1rem 0 0.5rem; } }

@media screen and (min-width: 960px) {
  #ff-types {
    width: 15%; } }

@media screen and (min-width: 960px) {
  #fish-types {
    width: 30%; } }

.link-ff-reference {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center; }
  .link-ff-reference span {
    display: inline-block; }
    @media screen and (min-width: 960px) {
      .link-ff-reference span {
        display: none; } }
  @media screen and (min-width: 560px) {
    .link-ff-reference {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      line-height: 2rem; } }
  @media screen and (min-width: 960px) {
    .link-ff-reference {
      float: left;
      margin: 0 0 0 1rem;
      width: auto; } }

.form-view-cart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: center; }
  @media screen and (min-width: 560px) {
    .form-view-cart {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%; } }
  @media screen and (min-width: 960px) {
    .form-view-cart {
      float: right;
      margin: 0;
      line-height: 2rem;
      width: auto; } }

.tbl-ff-reference {
  font-size: 12px;
  margin-top: 20px; }
  .tbl-ff-reference th, .tbl-ff-reference td {
    height: 75px;
    width: 120px; }
  .tbl-ff-reference a {
    color: #404040; }
    .tbl-ff-reference a:hover {
      color: #707070; }

.listing-rows {
  margin-top: 2rem; }
  @media screen and (min-width: 960px) {
    .listing-rows {
      margin-top: 0; } }

.listing-row {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .listing-row:not(:first-child) {
    border-top: 1px solid #d8d8d8; }
  @media screen and (min-width: 960px) {
    .listing-row {
      overflow: hidden;
      position: relative; } }

@media screen and (min-width: 960px) {
  .listing-row-header {
    position: absolute;
    left: 25%;
    top: 20%;
    width: 75%; } }

.listing-row-link-img p {
  text-align: center; }
@media screen and (min-width: 560px) {
  .listing-row-link-img {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 48%; } }
@media screen and (min-width: 960px) {
  .listing-row-link-img {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 24%;
    float: left; } }

.listing-row-img {
  height: 180px;
  margin-top: 1rem;
  width: 100%; }

.listing-row-id {
  text-align: center; }
  @media screen and (min-width: 560px) {
    .listing-row-id {
      float: left; } }
  @media screen and (min-width: 960px) {
    .listing-row-id {
      margin-left: 1rem; } }

.listing-row-name {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem; }
  @media screen and (min-width: 560px) {
    .listing-row-name {
      float: left;
      font-size: 18px;
      line-height: 2rem;
      margin-left: 1rem;
      margin-top: 0; } }
  @media screen and (min-width: 960px) {
    .listing-row-name {
      font-size: 20px; } }

.listing-row-desc {
  margin-top: 1rem; }
  @media screen and (min-width: 560px) {
    .listing-row-desc {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%; } }
  @media screen and (min-width: 960px) {
    .listing-row-desc {
      position: absolute;
      left: 27%;
      top: 30%;
      width: 55%; } }

.listing-row-pricing {
  background: #f5f5f5;
  margin-top: 1rem;
  padding: 1rem; }
  @media screen and (min-width: 960px) {
    .listing-row-pricing {
      background: #fff;
      padding: 0;
      position: absolute;
      right: 0.5%;
      top: 30%;
      width: 15%; } }

.listing-row-price {
  float: left; }
  @media screen and (min-width: 960px) {
    .listing-row-price {
      float: right; } }

.listing-row-shipping {
  float: right;
  font-size: 0.75rem;
  text-align: right; }
  .listing-row-shipping h5 {
    line-height: 0.75rem; }
  @media screen and (min-width: 560px) {
    .listing-row-shipping {
      float: left;
      margin-left: 1rem;
      text-align: left; } }
  @media screen and (min-width: 960px) {
    .listing-row-shipping {
      float: right;
      margin-left: 0;
      margin-top: 0.5rem;
      text-align: right; } }

.add-cart-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin-top: 2rem;
  width: 100%; }
  @media screen and (min-width: 560px) {
    .add-cart-btn {
      clear: none;
      margin-top: 0;
      float: right;
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%; } }
  @media screen and (min-width: 960px) {
    .add-cart-btn {
      float: right;
      margin-top: 0.5rem; } }

.dialog-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 100%; }
  @media screen and (min-width: 560px) {
    .dialog-img {
      height: auto;
      max-height: 350px; } }
  @media screen and (min-width: 960px) {
    .dialog-img {
      width: 50%; } }

.dialog-text-section {
  padding: 10px;
  margin-top: 20px; }
  .dialog-text-section h3 {
    padding-bottom: 10px;
    margin-bottom: 20px; }
  @media screen and (min-width: 960px) {
    .dialog-text-section {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%; } }

@media screen and (min-width: 960px) {
  .terramycin {
    width: 100%; } }

.tbl-guaranteed-analysis {
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  min-width: 300px; }
  .tbl-guaranteed-analysis th {
    width: 30%; }

/*  ========================================
 * Technical Bulletins page
 * ========================================  */
.bulletin {
  display: block;
  padding: 1rem;
  text-align: center; }
  .bulletin:hover img {
    border: 1px solid #4caf50; }
  .bulletin img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px; }
  .bulletin h4 {
    margin-top: 0.5rem; }
  .bulletin p {
    font-size: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  @media screen and (min-width: 560px) {
    .bulletin {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%; } }
  @media screen and (min-width: 960px) {
    .bulletin {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 32%; } }

/*  ========================================
 * Aquaponics pages
 * ========================================  */
.aquaponics-intro {
  margin-bottom: 2em; }

.aquaponics-intro-text {
  margin-top: 1rem; }
  @media screen and (min-width: 960px) {
    .aquaponics-intro-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      float: left;
      margin-top: 0;
      padding-right: 20px; } }

.aquaponics-questions {
  margin-bottom: 20px; }

.aquaponics-intro-img {
  width: 100%; }
  @media screen and (min-width: 960px) {
    .aquaponics-intro-img {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      float: right;
      height: 360px; } }

.aquaponics-material-section {
  background: #fff;
  margin-bottom: 1rem;
  padding: 0.5rem; }
  @media screen and (min-width: 960px) {
    .aquaponics-material-section {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 32%;
      min-height: 200px; } }

.aquaponics-material-list {
  margin-top: 10px; }

.back-aquaponics-link {
  font-size: 0.75rem; }

.hdr-aquaponics-section {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem; }
  @media screen and (min-width: 960px) {
    .hdr-aquaponics-section {
      font-size: 1.5rem; } }

.img-aquaponics-preview {
  height: 110px;
  width: 100%;
  margin-top: 10px; }

.subhdr-aquaponics-year {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.5rem; }

.channel-30-aquaponics-video {
  width: 100%;
  height: 170px; }
  @media screen and (min-width: 560px) {
    .channel-30-aquaponics-video {
      height: 315px; } }
  @media screen and (min-width: 960px) {
    .channel-30-aquaponics-video {
      height: 540px; } }

.pbs-aquaponics-video {
  width: 100%;
  height: 246px; }
  @media screen and (min-width: 560px) {
    .pbs-aquaponics-video {
      height: 400px; } }
  @media screen and (min-width: 960px) {
    .pbs-aquaponics-video {
      height: 620px; } }

.video-caption {
  font-size: 0.75rem; }

.galleria {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #000;
  height: 400px;
  max-height: 75vh;
  margin-bottom: 2rem;
  max-width: 100%; }
  @media screen and (min-width: 560px) {
    .galleria {
      height: 500px; } }
  @media screen and (min-width: 960px) {
    .galleria {
      height: 600px; } }

.galleria-theme-classic .galleria-info {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%; }

.galleria-theme-classic .galleria-counter {
  bottom: auto;
  top: 0; }

.galleria-theme-classic .galleria-thumbnails-container {
  height: 100px; }

.caption-link {
  color: #bbb; }

/*# sourceMappingURL=main.css.map */
