/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

  
/*
 ========================================
 Custom styles
 ========================================
*/

body {
  background: #001a66;
  background: -webkit-linear-gradient(to right, #001a66, #e6ecff);
  background: -moz-linear-gradient(to right, #001a66, #e6ecff);
  background: linear-gradient(to right, #001a66, #e6ecff);
  color: #404040;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-container {
  padding: 0 100px;
}

/*
 ========================================
 Typography
 ========================================
*/

h1 {
  font-size: 36px;
  line-height: 44px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}


/*
 ========================================
 Grid
 ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

/*
 ========================================
 Rows
 ========================================
*/

.row {
  min-width: 960px;
  background: #fff;
  padding: 0;
}
  

/*
 ========================================
 Navigation
 ========================================
*/

.nav {
  text-align: right;
  text-transform: uppercase;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
}


/*
 ========================================
 Primary header
 ========================================
*/

.primary-header {
  min-width: 960px;
  padding: 20px 0;
}

.logo {
  color: #e0e0e0;
}

.tagline {
  color: #e0e0e0;
  float: left;
  margin-left: 20px;
}

/*
 ========================================
 Primary footer 
 ========================================
*/

.primary-footer {
  color: #e0e0e0;
  padding: 20px 0;
}

.primary-footer  small {
  float: left;
  font-size: 12px;
}

/*
 ========================================
 Clearfix
 ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}


/*
 ========================================
 Links
 ========================================
*/

a {
  text-decoration: none;
}

.nav a {
  border-bottom: 1px solid transparent;
  color: #404040;
  padding-bottom: 4px;
}

.nav a:hover {
  border-bottom: 1px solid #404040;
}

.nav a.active {
  border-bottom: 1px solid #404040;
}
  

/*
 ========================================
 Home page
 ========================================
*/

.initial {
  padding-top: 40px;
}

.quote p {
  font-style: italic;
  text-align: center;
}

.new-quote {
  font-weight: 500;
}

.exposition {
  background-image: url("../images/homepage/pond_banner.jpg");
  background-size: 100% auto;
}

.conclusion {
  background-image: url("../images/homepage/pond_sunset.jpg");
  background-size: 100% auto;
  padding-bottom: 120px;
}

.content-box-bg {
  background: #f1f1f1;
  opacity: 0.7;
  padding: 35px;
}

.content-box-fg {
  background: #fff;
  opacity: 0.9;
  padding: 35px;
}

.exposition p:not(:last-child),
.conclusion p:not(:last-child) {
  margin-bottom: 25px;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}


/*
 ========================================
 About page
 ========================================
*/

.intro {
  padding: 30px 0;
}

.intro-text {
  float: right;
  padding-left: 30px;
  width: 50%;
}

.about-contents {
  background-color: rgba(241, 241, 241, 0.7);
  margin-top: 40px;
}

.about-contents p {
  margin-bottom: 20px;
}

.intro img {
  float: left;
  width: 50%;
}

.bio img {
  float: right;
  width: 50%;
}

.bio-text {
  display: inline-block;
  padding-right: 30px;
  width: 50%;
}

.bio-conclusion {
  margin-top: 20px;
}

.bio-header {
  font-weight: 500;
}
