/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small,
.bulletin p,
.back-aquaponics-link,
.aquaponics-video-caption, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  ========================================
 * Variables
 * ========================================  */
/*  ========================================
 * Responsive
 * ========================================  */
/*  ========================================
 * Custom styles
 * ========================================  */
body {
  background: #fff;
  color: #404040;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*  ========================================
 * Backgrounds
 * ========================================  */
.bg-white {
  background: #fff; }

.bg-grey {
  background: #f5f5f5; }

/*  ========================================
 * Effects
 * ========================================  */
/*  ========================================
 * Alignments
 * ========================================  */
/*  ========================================
 * Borders  
 * ========================================  */
.border-bottom-grey, .primary-header, .ui-tabs .ui-tabs-nav {
  border-bottom: 1px solid #f5f5f5; }

.border-top-grey, .fish-listing {
  border-top: 1px solid #f5f5f5; }

.border-grey, .ff-ingredient-img, .aquaponics-material-box, .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  border: 1px solid #f5f5f5; }

/*  ========================================
 * Lists
 * ========================================  */
.list-square-bullets {
  list-style-type: square;
  padding-left: 2rem; }

/*  ========================================
 * Buttons
 * ========================================  */
.btn-green {
  background: #4caf50;
  color: #e0e0e0;
  padding: 5px;
  text-align: center;
  min-width: 120px; }
  .btn-green:hover {
    cursor: pointer;
    opacity: 0.9; }

.btn-close {
  color: #d8d8d8;
  float: right;
  font-size: 2rem; }
  .btn-close:hover {
    cursor: pointer; }

/*  ========================================
 * Tables
 * ========================================  */
table {
  font-size: 12px;
  text-align: center; }
  table th, table td {
    padding: 5px;
    vertical-align: middle; }

.tbl-2-col {
  border: 1px solid #404040; }
  .tbl-2-col th {
    background: #404040;
    color: #e0e0e0; }
  .tbl-2-col tr:not(:last-child) th {
    border-bottom: 1px solid #707070; }
  .tbl-2-col tr:not(:last-child) td {
    border-bottom: 1px solid #404040; }

.tbl-2-hdr thead tr, .tbl-2-hdr tbody tr:not(:last-child) {
  border-bottom: 1px solid #f5f5f5; }
.tbl-2-hdr th, .tbl-2-hdr td {
  height: 75px;
  width: 120px; }
  .tbl-2-hdr th:not(:last-child), .tbl-2-hdr td:not(:last-child) {
    border-right: 1px solid #f5f5f5; }
.tbl-2-hdr th {
  font-weight: 400; }

/*  ========================================
 * Dialogs
 * ========================================  */
.ui-dialog {
  background: #fff;
  min-width: 50%;
  min-height: 50%;
  position: fixed; }

.ui-dialog-titlebar {
  display: none; }

.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5); }

/*  ========================================
 * Typography
 * ========================================  */
h1 {
  font-size: 36px;
  line-height: 44px; }

h2 {
  font-size: 32px; }

h3 {
  color: #909090;
  font-size: 20px; }

h4 {
  font-size: 16px;
  font-weight: 400; }

h5 {
  font-size: 12px; }

small, .bulletin p, .back-aquaponics-link, .aquaponics-video-caption {
  font-size: 12px; }

strong {
  font-weight: 400; }

p:not(:last-child) {
  margin-bottom: 1rem; }

/*  ========================================
 * Grid
 * ========================================  */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row, .container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px; }
  @media screen and (min-width: 580px) {
    .row, .container {
      width: 560px; } }
  @media screen and (min-width: 980px) {
    .row, .container {
      width: 960px; } }

@media screen and (min-width: 580px) {
  .container {
    padding: 30px; } }

/*  ========================================
 * Columns
 * ========================================  */
.col-1-5, .col-4-5 {
  display: inline-block;
  vertical-align: top; }

.col-1-2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 48%; }

.col-1-3 {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 32%; }

.col-2-3 {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5%;
  width: 65%; }

.col-1-5 {
  margin: 0 0.64%;
  width: 15%; }

.col-4-5 {
  margin: 0 1.5%;
  width: 80%; }

.col-1-4 {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 24%; }

.col-3-4 {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5%;
  width: 74%; }

/*  ========================================
 * Navigation
 * ========================================  */
.nav {
  text-align: center;
  text-transform: uppercase; }
  .nav li {
    display: inline-block; }
  .nav a {
    display: block;
    padding: 10px; }
    .nav a:hover {
      color: #4caf50; }
  .nav .active {
    color: #4caf50; }
  @media screen and (min-width: 980px) {
    .nav {
      float: right;
      text-align: right; } }

.dropdown-content {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  z-index: 1000; }
  .dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
    display: block; }
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-align: left; }
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      color: #4caf50; }

.dropdown:hover .dropbtn {
  color: #4caf50; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*  ========================================
 * Primary header
 * ========================================  */
.primary-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem; }

.logo {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem; }
  @media screen and (min-width: 580px) {
    .logo {
      margin-bottom: 0; } }
  @media screen and (min-width: 980px) {
    .logo {
      display: inline-block; } }

.tagline {
  display: none; }
  @media screen and (min-width: 580px) {
    .tagline {
      display: block;
      text-align: center; } }
  @media screen and (min-width: 980px) {
    .tagline {
      float: left;
      line-height: 42px;
      margin-left: 1rem; } }

/*  ========================================
 * Primary footer 
 * ========================================  */
.primary-footer {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.copyright {
  float: left; }

.email {
  float: right; }

/*  ========================================
 * Clearfix
 * ========================================  */
.group {
  clear: both;
  *zoom: 1; }
  .group:before, .group:after {
    content: "";
    display: table; }
  .group:after {
    clear: both; }

/*  ========================================
 * Links
 * ========================================  */
a {
  color: #404040;
  text-decoration: none; }

.link-green {
  color: #4caf50; }
  .link-green:hover {
    color: #006600;
    cursor: pointer; }

/*  ========================================
 * Forms
 * ========================================  */
.listing-row-pricing form input, .ff-listings form input {
  border: 0;
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*  ========================================
 * Homepage
 * ========================================  */
.primary-header.homepage-header {
  margin-bottom: 0; }

@media screen and (min-width: 980px) {
  .homepage-content {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2); } }

.homepage-img {
  width: 100%; }

.homepage-text {
  margin-top: 1.5rem; }
  .homepage-text:not(:last-child) {
    margin-bottom: 0; }
  @media screen and (min-width: 980px) {
    .homepage-text {
      margin-top: 0;
      padding: 1.5rem 15%; } }

.quote {
  font-style: italic;
  font-size: 0.7rem;
  text-align: center; }
  @media screen and (min-width: 580px) {
    .quote {
      font-size: 1rem; } }

.exposition {
  text-align: left; }
  @media screen and (min-width: 980px) {
    .exposition {
      background: #f5f5f5;
      text-align: center; } }

/*  ========================================
 * About page
 * ========================================  */
.about-img-1,
.about-img-2-container,
.about-map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px; }
  @media screen and (min-width: 580px) {
    .about-img-1,
    .about-img-2-container,
    .about-map {
      width: 75%;
      height: 300px; } }
  @media screen and (min-width: 980px) {
    .about-img-1,
    .about-img-2-container,
    .about-map {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      height: 340px; } }

.about-bio {
  display: flex;
  flex-wrap: wrap; }
  .about-bio section {
    order: 2; }
  .about-bio img {
    order: 1; }
  @media screen and (min-width: 980px) {
    .about-bio {
      display: block; } }

.about-img-2 {
  width: 100%;
  height: 100%; }

.about-text-section {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  @media screen and (min-width: 980px) {
    .about-text-section {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      margin: 0;
      padding: 1rem; } }

.tbl-contact-us {
  font-size: 0.75rem;
  margin: 2rem auto 0 auto;
  width: 80%; }

/*  ========================================
 * Fish page
 * ========================================  */
.fish-introduction-text {
  margin-top: 1rem; }
  @media screen and (min-width: 980px) {
    .fish-introduction-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      float: left;
      margin-top: 0;
      padding-right: 1em; } }

.fish-freight-options {
  margin-top: 1rem;
  padding: 1rem; }
  .fish-freight-options h3 {
    margin-bottom: 0.5rem; }
    .fish-freight-options h3:not(:first-child) {
      margin-top: 0.5rem; }
  @media screen and (min-width: 980px) {
    .fish-freight-options {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      float: right;
      margin-top: 0; } }

.order-fish-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 80%; }
  @media screen and (min-width: 980px) {
    .order-fish-btn {
      float: left;
      margin-top: 0.75rem;
      width: 45%; } }

.fish-listings {
  margin-top: 2rem; }

.fish-listing {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center; }
  .fish-listing img {
    height: 100px;
    max-width: 100%; }
  @media screen and (min-width: 580px) {
    .fish-listing {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      border: 1px solid #f5f5f5;
      margin-bottom: 1rem;
      min-height: 440px;
      padding-left: 0.5rem;
      padding-right: 0.5rem; } }
  @media screen and (min-width: 980px) {
    .fish-listing {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 32%; } }

.latin-name {
  font-style: italic; }

.fish-listing-desc {
  text-align: left; }

.tbl-container {
  margin: 1rem 0; }
  @media screen and (min-width: 580px) {
    .tbl-container {
      min-height: 75px; } }

.tbl-fish-prices {
  margin: 0 auto; }
  .tbl-fish-prices th, .tbl-fish-prices td {
    vertical-align: text-bottom;
    width: 50%; }
  .tbl-fish-prices th {
    font-size: 24px;
    padding-right: 3px;
    text-align: right; }
  .tbl-fish-prices td {
    font-size: 12px;
    padding-left: 3px;
    text-align: left; }

.availability-update {
  color: red; }

/*  ========================================
 * Fish food page
 * ========================================  */
@media screen and (min-width: 980px) {
  .ff-intro-text {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5%;
    width: 65%;
    margin-top: 1rem;
    padding-right: 1rem; } }

.ff-shipping-text {
  margin-top: 1rem;
  padding: 1rem; }
  .ff-shipping-text li {
    margin-top: 0.5rem; }
  @media screen and (min-width: 980px) {
    .ff-shipping-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 32%;
      margin-top: 0; } }

.ff-listings {
  margin-top: 2rem; }
  @media screen and (min-width: 980px) {
    .ff-listings {
      margin-top: 0; } }

.ff-listings-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-bottom: 1rem; }
  @media screen and (min-width: 580px) {
    .ff-listings-navbar {
      display: block;
      flex-wrap: unset;
      justify-content: unset; } }

.ff-filter-container {
  order: 2;
  width: 100%; }
  @media screen and (min-width: 580px) {
    .ff-filter-container {
      display: inline-block;
      order: unset;
      margin-right: 2%;
      width: 38%; } }
  @media screen and (min-width: 980px) {
    .ff-filter-container {
      width: 42%; } }

.ff-filter {
  background: #fff;
  height: 2rem;
  width: 100%; }
  @media screen and (min-width: 980px) {
    .ff-filter {
      float: left; } }

.ff-buttons-container {
  height: 2rem;
  order: 1;
  vertical-align: bottom;
  width: 30%; }
  @media screen and (min-width: 580px) {
    .ff-buttons-container {
      display: inline-block;
      order: unset;
      width: 15%; } }
  @media screen and (min-width: 980px) {
    .ff-buttons-container {
      width: 9%; } }

.ff-reference-btn {
  float: left; }

.form-view-cart {
  float: right; }

.ff-listing {
  border-top: 1px solid #f5f5f5;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media screen and (min-width: 980px) {
    .ff-listing {
      overflow: hidden;
      position: relative; } }

@media screen and (min-width: 980px) {
  .ff-listing-hdr {
    position: absolute;
    left: 25%;
    top: 20%;
    width: 75%; } }

.ff-listing-id {
  text-align: center; }
  @media screen and (min-width: 580px) {
    .ff-listing-id {
      float: left; } }
  @media screen and (min-width: 980px) {
    .ff-listing-id {
      margin-left: 1rem; } }

.ff-listing-name {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem; }
  @media screen and (min-width: 580px) {
    .ff-listing-name {
      float: left;
      font-size: 18px;
      line-height: 2rem;
      margin-left: 1rem;
      margin-top: 0; } }
  @media screen and (min-width: 980px) {
    .ff-listing-name {
      font-size: 20px; } }

.ff-listing-ingredients-link p {
  text-align: center; }
@media screen and (min-width: 580px) {
  .ff-listing-ingredients-link {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 48%; } }
@media screen and (min-width: 980px) {
  .ff-listing-ingredients-link {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 24%;
    float: left; } }

.ff-listing-img {
  height: 180px;
  margin-top: 1rem;
  width: 100%; }

.ff-listing-desc {
  margin-top: 1rem; }
  @media screen and (min-width: 580px) {
    .ff-listing-desc {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%; } }
  @media screen and (min-width: 980px) {
    .ff-listing-desc {
      position: absolute;
      left: 27%;
      top: 30%;
      width: 55%; } }

.ff-listing-pricing {
  background: #f5f5f5;
  margin-top: 1rem;
  padding: 1rem; }
  @media screen and (min-width: 980px) {
    .ff-listing-pricing {
      background: #fff;
      padding: 0;
      position: absolute;
      right: 0.5%;
      top: 30%;
      width: 15%; } }

.ff-listing-price {
  float: left; }
  @media screen and (min-width: 980px) {
    .ff-listing-price {
      float: right; } }

.ff-listing-shipping {
  float: right;
  font-size: 0.75rem;
  text-align: right; }
  .ff-listing-shipping h5 {
    line-height: 0.75rem; }
  @media screen and (min-width: 580px) {
    .ff-listing-shipping {
      float: left;
      margin-left: 1rem;
      text-align: left; } }
  @media screen and (min-width: 980px) {
    .ff-listing-shipping {
      float: right;
      margin-left: 0;
      margin-top: 0.5rem;
      text-align: right; } }

.add-cart-form, .order-email-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 100%; }
  @media screen and (min-width: 580px) {
    .add-cart-form, .order-email-btn {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      margin-top: 0;
      float: right; } }
  @media screen and (min-width: 980px) {
    .add-cart-form, .order-email-btn {
      clear: both;
      margin-top: 0.5rem;
      width: 100%; } }

.add-cart-btn {
  width: 100%; }

.tbl-ff-reference {
  font-size: 12px;
  margin-top: 20px; }
  .tbl-ff-reference th, .tbl-ff-reference td {
    height: 75px;
    width: 120px; }
  .tbl-ff-reference a {
    color: #404040; }
    .tbl-ff-reference a:hover {
      color: #707070; }

.ff-ingredient-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 100%; }
  @media screen and (min-width: 580px) {
    .ff-ingredient-img {
      height: auto;
      max-height: 350px; } }
  @media screen and (min-width: 980px) {
    .ff-ingredient-img {
      width: 50%; } }

.ff-ingredient-text-section {
  padding: 10px;
  margin-top: 20px; }
  .ff-ingredient-text-section h3 {
    padding-bottom: 10px;
    margin-bottom: 20px; }
  @media screen and (min-width: 980px) {
    .ff-ingredient-text-section {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%; } }

@media screen and (min-width: 980px) {
  .terramycin {
    width: 100%; } }

.tbl-guaranteed-analysis {
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  min-width: 300px; }
  .tbl-guaranteed-analysis th {
    width: 30%; }

/*  ========================================
 * Technical Bulletins page
 * ========================================  */
.bulletin {
  display: block;
  padding: 1rem;
  text-align: center; }
  .bulletin:hover img {
    border: 1px solid #4caf50; }
  .bulletin img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px; }
  .bulletin h4 {
    margin-top: 0.5rem; }
  .bulletin p {
    padding-left: 2rem;
    padding-right: 2rem; }
  @media screen and (min-width: 580px) {
    .bulletin {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%; } }
  @media screen and (min-width: 980px) {
    .bulletin {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 32%; } }

/*  ========================================
 * Aquaponics home page
 * ========================================  */
.aquaponics-intro-img {
  width: 100%; }
  @media screen and (min-width: 980px) {
    .aquaponics-intro-img {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      float: right;
      height: 360px; } }

.aquaponics-intro-text {
  margin-top: 1rem; }
  .aquaponics-intro-text ul {
    margin-bottom: 1rem; }
  @media screen and (min-width: 980px) {
    .aquaponics-intro-text {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 48%;
      float: left;
      margin-top: 0;
      padding-right: 20px; } }

.aquaponics-materials {
  margin-top: 2rem; }

.aquaponics-material-box {
  margin-bottom: 1rem;
  padding: 0.5rem; }
  .aquaponics-material-box ul {
    margin-top: 0.5rem; }
  @media screen and (min-width: 980px) {
    .aquaponics-material-box {
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5%;
      margin-right: 0.5%;
      width: 32%;
      margin-bottom: 0;
      min-height: 180px; } }

/*  ========================================
 * Aquaponics individual pages
 * ========================================  */
.aquaponics-page-intro {
  margin-bottom: 1rem; }

.hdr-aquaponics-section {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  @media screen and (min-width: 980px) {
    .hdr-aquaponics-section {
      font-size: 1.5rem; } }

.img-aquaponics-preview {
  height: 110px;
  width: 100%;
  margin-top: 10px; }

.ui-tabs .ui-tabs-panel.galleria {
  padding-left: 0;
  padding-right: 0; }

.ui-tabs .ui-tabs-nav li {
  background: #f5f5f5;
  font-size: 0.75rem; }
  @media screen and (min-width: 580px) {
    .ui-tabs .ui-tabs-nav li {
      font-size: 1rem; } }
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  background: #fff;
  border-bottom: 0; }

.galleria {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #000;
  height: 400px;
  max-height: 75vh;
  margin-bottom: 2rem;
  max-width: 100%; }
  @media screen and (min-width: 580px) {
    .galleria {
      height: 500px; } }
  @media screen and (min-width: 980px) {
    .galleria {
      height: 600px; } }

.galleria-theme-classic .galleria-info {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%; }

.galleria-theme-classic .galleria-counter {
  bottom: auto;
  top: 0; }

.galleria-theme-classic .galleria-thumbnails-container {
  height: 100px; }

.caption-link {
  color: #bbb; }

.channel-30-aquaponics-video {
  width: 100%;
  height: 140px; }
  @media screen and (min-width: 580px) {
    .channel-30-aquaponics-video {
      height: 290px; } }
  @media screen and (min-width: 980px) {
    .channel-30-aquaponics-video {
      height: 500px; } }

.pbs-aquaponics-video {
  width: 100%;
  height: 215px; }
  @media screen and (min-width: 580px) {
    .pbs-aquaponics-video {
      height: 360px; } }
  @media screen and (min-width: 980px) {
    .pbs-aquaponics-video {
      height: 580px; } }

/*# sourceMappingURL=main.css.map */
